In [13]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('credit_risk/bureau.csv')

In [3]:
df.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [4]:
df.shape

(1716428, 17)

In [6]:
df.columns

Index(['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY',
       'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE',
       'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG',
       'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT',
       'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE',
       'AMT_ANNUITY'],
      dtype='object')

In [17]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
enc.fit_transform(df['CREDIT_TYPE'])

array([ 3,  4,  3, ...,  3,  3, 10])

In [19]:
enc.classes_

array(['Another type of loan', 'Car loan', 'Cash loan (non-earmarked)',
       'Consumer credit', 'Credit card', 'Interbank credit',
       'Loan for business development',
       'Loan for purchase of shares (margin lending)',
       'Loan for the purchase of equipment',
       'Loan for working capital replenishment', 'Microloan',
       'Mobile operator loan', 'Mortgage', 'Real estate loan',
       'Unknown type of loan'], dtype=object)

In [21]:
enc.get_params()

{}

In [3]:
# This is the main file.
# Store all global config parameters and call functions from this file.

from os import pipe
import pandas as pd
from bureau import bureau
from utils import pipeline

res = 0

def main():
    df = pd.read_csv('credit_risk/bureau.csv')
    X=  df[:100]
    X_test = df[:100]

    b = bureau()

    pl = pipeline([
        b.create()
    ])

    pl.fit(X)
    res = pl.predict(X_test)
    print(res)

In [4]:
main()

e:\Data\Data-Analytics-Project\bureau.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.df[col] = enc.fit_transform(self.df[col])

UnboundLocalError: local variable 'stage' referenced before assignment

In [3]:
res

NameError: name 'res' is not defined